body {
  max-width: 600px;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}
.outer-box-frame {
  border: 1px solid #ced4d9;
  padding: 0 40px 60px 40px;

  border-radius: 6px;
}

h1,
h2,
p,
span,
i,
button,
.day,
.form-control {
  color: #4d617c;
}
button {
  border: none;
  background-color: transparent;
}

h1 {
  visibility: hidden;
  padding-left: 15px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 0;
}

i,
span,
#weather-description,
.day {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
p,
.form-control {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-block-end: 0px;
}

#current-temperature {
  font-size: 72px;
  font-weight: 600;
}
#c,
#f,
#test,
#slash {
  font-size: 28px;
  font-weight: 400;
  vertical-align: 80%;
}
.row,
.date,
.time {
  margin-top: 0px;
  margin-bottom: 0px;
}
#forecast {
  margin-top: 50px;
}
img,
.rain {
  display: block;
  margin: 10px auto;
}
.today {
  height: 150px;
  margin: 0 auto;
  margin-bottom: 11px;
}
.cloudsunny,
.cloud,
.sunny {
  height: 70px;
}
.rain {
  text-align: center;
}
.form-inline {
  margin-top: 40px;
}

.btn {
  color: #4d617c;
  border: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-group {
  border: transparent;
}
.form-inline .form-control {
  width: 454px;
}
small {
  color: #4d617c;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin: 20px auto;
  text-align: center;
}

#location {
  color: #4d617cad;
  font-size: 18px;
  font-weight: 300;
  border: none;
  margin: 0;
}
#search-form {
  border: 1px solid #ced4d9;
  border-radius: 6px;
  margin: 0 16px 10px 16px;
}
